<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <ul>
     <% devSkills.forEach(function(item) { %>
        <li>
            <form action="/skills/<%= item.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
          <a href="/skills/<%=item.id%>" > <%= item.skill %> </a>
        </li>
        
        <% }) %>
    </ul>
    <a href="/skills/new">Add Skill</a>
</body>
</html>